# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Generated Results / Outputs
# ================================
results/
outputs/
logs/

# Generated artifacts ONLY inside results/outputs
results/**/*.csv
outputs/**/*.csv
results/**/*.{png,jpg,jpeg,svg,pdf}
outputs/**/*.{png,jpg,jpeg,svg,pdf}


# ================================
# Temporary / OS
# ================================
.DS_Store
Thumbs.db

# ================================
# Editor / IDE
# ================================
.vscode/
.idea/
